* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background-image: linear-gradient(
    -45deg,
    rgb(0, 247, 255),
    rgb(99, 228, 164) ;*/
  background: url(./src/BackgroundImage.jpg) no-repeat;
  background-size: cover;
}
#heading {
  text-align: center;
  box-shadow: 5px 2px 10px black;
  height: 64px;
  padding: 14px 0px;
  font-size: 30px;
  color:whitesmoke;
}
.box {
  width: 100px;
  height: 100px;
  flex-basis: 18%;
  margin: 6px;
  border-radius: 8%;
  /* border: 2px black solid; */
}

#container {
  position: relative;
  scale: 0.7;
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 120px auto;
  /* border: 16px rgb(88, 41, 33) solid;
  border-radius: 5px; */
  /* outline: 2px rgb(15, 13, 8) ridge; */
}

.Image {
  width: 120px;
  height: 120px;
  border-radius: 8%;
  border: 1px solid black;
  transform-style: preserve-3d;
  transition: transform 5s;
  transform: rotateY(0deg);
  -webkit-backface-visibility: visible;
  backface-visibility: hidden;
  position: absolute;
  z-index: 2;
}

.backImg {
  width: 120px;
  height: 120px;
  border-radius: 8%;
  border: 1px solid black;
  transform-style: preserve-3d;
  transition: transform 5s;
  transform: rotateY(180deg);
  -webkit-backface-visibility: visible;
  backface-visibility: hidden;
  position: absolute;
  z-index: 1;
}
